@media(min-width: 992px){
    .header .menu > .menu-item-has-children:hover > .sub-menu{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
     }
     .header .menu > .menu-item-has-children:hover > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);		
     }
}


@media(min-width:992px) and (max-width:1199px) { /* lg device */
   


  
    
}/* lg device */


@media(min-width:768px) and (max-width:991px) { /* md device */
   
    .header .menu-overlay.active{
        visibility: visible;
        opacity: 1;
    }
        .header .nav-menu{
            position: fixed;
            right: -280px;
            visibility: hidden;
            width: 280px;
            height: 100%;
            top:0;
            overflow-y: auto;
            background-color: #222222;
            z-index: 1000;
            padding: 15px 0;
            transition: all 0.5s ease;
        }
        .header .nav-menu.open{
            visibility: visible;
            right: 0px;
        }
        .header .menu > .menu-item{
            display: block;
            margin:0;
        }
        .header .menu > .menu-item-has-children > a{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header .menu > .menu-item > a{
            color: #ffffff;
            padding: 12px 15px;
            border-bottom: 1px solid #333333;
        }
        .header .menu > .menu-item:first-child > a{
            border-top: 1px solid #333333;	
        }
        .header .menu > .menu-item > a .plus:before, 
        .header .menu > .menu-item > a .plus:after{
            background-color: #ffffff;
        }
        .header .menu > .menu-item-has-children.active > a .plus:after{
            transform: translate(-50%,-50%) rotate(0deg);
        }
        .header .menu > .menu-item > .sub-menu{
            width: 100%;
            position: relative;
            opacity: 1;
            visibility: visible;
            border:none;
            background-color: transparent;
            box-shadow: none;
            transform: translateY(0px);
            padding: 0px;
            left: auto;
            top:auto;
            max-height: 0;
            overflow: hidden;
        }
        .header .menu > .menu-item > .sub-menu > .menu-item > a{
            padding: 12px 45px;
            color: #ffffff;
            border-bottom: 1px solid #333333;
        }
        .header .close-nav-menu,
        .header .open-nav-menu{
            display: flex;
        }



}/* md device */



@media(min-width:576px) and (max-width:767px) { /* sm device */
  
    .header .menu-overlay.active{
        visibility: visible;
        opacity: 1;
    }
        .header .nav-menu{
            position: fixed;
            right: -280px;
            visibility: hidden;
            width: 280px;
            height: 100%;
            top:0;
            overflow-y: auto;
            background-color: #222222;
            z-index: 1000;
            padding: 15px 0;
            transition: all 0.5s ease;
        }
        .header .nav-menu.open{
            visibility: visible;
            right: 0px;
        }
        .header .menu > .menu-item{
            display: block;
            margin:0;
        }
        .header .menu > .menu-item-has-children > a{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header .menu > .menu-item > a{
            color: #ffffff;
            padding: 12px 15px;
            border-bottom: 1px solid #333333;
        }
        .header .menu > .menu-item:first-child > a{
            border-top: 1px solid #333333;	
        }
        .header .menu > .menu-item > a .plus:before, 
        .header .menu > .menu-item > a .plus:after{
            background-color: #ffffff;
        }
        .header .menu > .menu-item-has-children.active > a .plus:after{
            transform: translate(-50%,-50%) rotate(0deg);
        }
        .header .menu > .menu-item > .sub-menu{
            width: 100%;
            position: relative;
            opacity: 1;
            visibility: visible;
            border:none;
            background-color: transparent;
            box-shadow: none;
            transform: translateY(0px);
            padding: 0px;
            left: auto;
            top:auto;
            max-height: 0;
            overflow: hidden;
        }
        .header .menu > .menu-item > .sub-menu > .menu-item > a{
            padding: 12px 45px;
            color: #ffffff;
            border-bottom: 1px solid #333333;
        }
        .header .close-nav-menu,
        .header .open-nav-menu{
            display: flex;
        }





}/* sm device */




@media(max-width:575px) { /* xs device */
   
    .header .menu-overlay.active{
        visibility: visible;
        opacity: 1;
    }
        .header .nav-menu{
            position: fixed;
            right: -280px;
            visibility: hidden;
            width: 280px;
            height: 100%;
            top:0;
            overflow-y: auto;
            background-color: #222222;
            z-index: 1000;
            padding: 15px 0;
            transition: all 0.5s ease;
        }
        .header .nav-menu.open{
            visibility: visible;
            right: 0px;
        }
        .header .menu > .menu-item{
            display: block;
            margin:0;
        }
        .header .menu > .menu-item-has-children > a{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header .menu > .menu-item > a{
            color: #ffffff;
            padding: 12px 15px;
            border-bottom: 1px solid #333333;
        }
        .header .menu > .menu-item:first-child > a{
            border-top: 1px solid #333333;	
        }
        .header .menu > .menu-item > a .plus:before, 
        .header .menu > .menu-item > a .plus:after{
            background-color: #ffffff;
        }
        .header .menu > .menu-item-has-children.active > a .plus:after{
            transform: translate(-50%,-50%) rotate(0deg);
        }
        .header .menu > .menu-item > .sub-menu{
            width: 100%;
            position: relative;
            opacity: 1;
            visibility: visible;
            border:none;
            background-color: transparent;
            box-shadow: none;
            transform: translateY(0px);
            padding: 0px;
            left: auto;
            top:auto;
            max-height: 0;
            overflow: hidden;
        }
        .header .menu > .menu-item > .sub-menu > .menu-item > a{
            padding: 12px 45px;
            color: #ffffff;
            border-bottom: 1px solid #333333;
        }
        .header .close-nav-menu,
        .header .open-nav-menu{
            display: flex;
        }

    

} /* xs device */




@media(max-width:375px){


}

/* responsive */













