@media(min-width:992px) and (max-width:1199px) { /* lg device */
     
    /* about part */

    .about_tab_menu li a{
        padding: 10px;
        font-size: 17px;
        font-weight: 500;
    }

     /* blog part */

     .blog_content h4{
        font-size: 15px;
        font-weight: 400;
    }

    .blog_content{
        padding: 20px 10px;
    }

    .blog_content ul li a{
        font-size: 12px;
    }
    .blog_content ul li{
        padding: 10px 3px;
    }

    .main_btn a{
        padding: 15px 20px ;
        font-size: 15px;
        font-weight: 500;
    }

    
}/* lg device */


@media(min-width:768px) and (max-width:991px) { /* md device */
    .header_left span {
        color:var(--titlecolor);
        font-size: 12px;
        font-weight: 400;
        text-transform: capitalize;
    }
     .header_right ul li{
        margin: 0;
    }

    /* about part */

    .about_tab_menu li a{
        padding: 10px;
        font-size: 15px;
        font-weight: 500;
    }

    .about_right #myTabContent .active p:last-child{
        display: none;
    }

     /* blog part */

     .blogslick_icon{
        display: none;
    }

     /* blog part */

     .blog_content{
         text-align: center;
     }

     .blog_content h4{
        font-size: 15px;
        font-weight: 400;
    }

    .blog_content{
        padding: 20px 5px;
    }

    .blog_content ul{
        display: none;
    }
    
    .blog_text p{
        padding: 10px;
        font-size: 13px;
        text-align: justify;
        line-height: 20px;
    }

    .main_btn a{
        padding: 10px 15px ;
        font-size: 14px;
        font-weight: 500;
    }
   

}/* md device */



@media(min-width:576px) and (max-width:767px) { /* sm device */
    /* top header */
    .header_left {
        padding: 7px 0;
        text-align: center;
    }
    .header_left span {
        font-size: 16px;
        font-weight: 400;
    }
    .header_mid{
        background-color: var(--titlecolor);
        transform: skew(0deg);
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        width: 100%;
    }
    .header_mid p{
        transform: skew(0deg);
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        font-size: 16px;
    }

    .header_right ul li a i{
        font-size: 16px;
    }
    .header_right{
        padding: 10px 0;
        text-align: center;
    }

    /* banner content */

    .banner_content h2{
        font-size: 28px;
    }
    .banner_content p{
        font-size: 13px;
    }
    
    .slider_btn{
        margin-top: 40px;
    }
    
    .slider_btn a{
        padding: 15px;
        margin-right: 30px;
        font-size: 16px;
    }

    /* service css */

    .service_header h2{
        font-size: 28px;
    }
    .service_content{
        padding: 20px;
    }

    /* about part */
    .about_right{
        margin-top: 25px;
    }

    /* Counter part Start */

    .counter{
        margin: 50px 0;
        padding: 40px 0;
    }

    .counter_items{
        margin: 20px 0;
    }

    .counter_items h3{
        font-weight: 600;
        font-size: 30px;
        padding: 5px 0;
    }
    .counter_items p{
        color: var(--white);
        font-size: 15px;
        font-weight: 400;
    }


     /* blog part */

     .blogslick_icon{
        display: none;
    }




}/* sm device */


@media(max-width:575px) { /* xs device */
    .header_left {
        padding: 7px 0;
        text-align: center;
    }
    .header_left span {
        font-size: 16px;
        font-weight: 400;
    }
    .header_mid{
        background-color: var(--titlecolor);
        transform: skew(0deg);
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        width: 100%;
    }
    .header_mid p{
        transform: skew(0deg);
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        font-size: 16px;
    }

    .header_right ul li a i{
        font-size: 16px;
    }
    .header_right{
        padding: 10px 0;
        text-align: center;
    }

     /* banner content */
    #banner{
        height: 300px;
    }

    #banner .pogoSlider-dir-btn{
        display: none;
    }

     .banner_content h2{
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 0 !important;
    }
    .banner_content span{
        color: var(--maincolor);
    }
    .banner_content p{
        font-size: 15px;
        line-height: 20px;
    }
    
    .slider_btn{
        margin-top: 40px;
    }
    
    .slider_btn a{
        padding:10px;
        margin-right: 15px;
        font-size: 12px;
    }

    /* service css */

    .service_header h2{
        font-size: 28px;
    }

    /* about part */
    .about_right{
        margin-top: 25px;
    }

    .about_tab_menu li a{
        padding: 10px 5px;
        font-size: 15px;
        font-weight: 500;
    }
    
    /* Counter part Start */

    .counter{
        margin: 50px 0;
        padding: 50px 0;
    }

    .counter_items{
        margin: 20px 0;
    }

    .counter_items h3{
        font-weight: 600;
        font-size: 26px;
        padding: 5px 0;
    }
    .counter_items p{
        color: var(--white);
        font-size: 15px;
        font-weight: 400;
    }


    /* blog part */

    .blogslick_icon{
        display: none;
    }

    .work_items{
        padding: 0 13px;
    }

    /* testimonial part */

    .testimonialslick_icon{
        display: none;
    }

    .testimonial_text h4{
        font-size: 17px;
        padding: 8px 0;
    }

    .testimonial_text p{
        font-size: 14px;
        line-height: 20px;
    }

    .client_img img{
        height: 70px ;
        width: 70px;
    }

    .slick-center .client_img{
        height: 95px ;
        width: 95px;
        line-height: 91px;
    } 




} /* xs device */




@media(max-width:375px){
    /* blog part */

    .blog_content h4{
        font-size: 15px;
        font-weight: 400;
    }

    .blog_content{
        padding: 20px 5px;
    }

    .blog_content ul li a{
        font-size: 12px;
    }
    .blog_content ul li{
        padding: 10px 2px;
    }





}

